<div class="container">
  <form class="form" role="form" method="post" accept-charset="UTF-8" id="edit-nav" (submit)="submit(f)" #f="ngForm">
      <div class="form-group">
        <textarea spellcheck="false" cols="40" rows="2" type="text" name="title" [(ngModel)]="article.title" class="form-control" id="title" placeholder="Title" required></textarea>
        <div class="row">
          <div class="col">
              <img [src]= article.thumbnail alt="{{ article.title }}" class="img-fluid rounded" style="max-height: 200px;">
          </div>
          <div class="col">
            <div class="form-group">
              <textarea spellcheck="false" cols="40" rows="2"type="text" name="thumbnail" [(ngModel)]="article.thumbnail" class="form-control" id="thumbnail" placeholder="Thumbnail URL" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea spellcheck="false" cols="40" rows="15" type="text" name="body" [(ngModel)]="article.body" class="form-control" id="body" placeholder="Body" required></textarea>
      </div>
      <div class="form-group">
        <label>Kategória</label>
        <select class="form-control" name="category" id="category" [(ngModel)]="article.category">
          <option value=1>Tudomány</option>
          <option value=2>Sport</option>
          <option value=3>Üzlet</option>
          <option value=4>Szórakozás</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-basic">Submit</button>
      </div>
    </form>
  </div>
  