<div class="container">
  <form class="form" role="form" method="post" accept-charset="UTF-8" id="edit-nav" (submit)="submit(f)" #f="ngForm">
      <div class="form-group">
          <label>Username</label>
        <textarea spellcheck="false" cols="40" rows="1" type="text" name="title" [(ngModel)]="user.username" class="form-control" id="title" placeholder="username" required></textarea>
      </div>
      <div class="form-group">
        <label>First name</label>
        <textarea spellcheck="false" cols="40" rows="1"type="text" name="thumbnail" [(ngModel)]="user.firstname" class="form-control" id="thumbnail" placeholder="First name" required></textarea>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <textarea spellcheck="false" cols="40" rows="1" type="text" name="body" [(ngModel)]="user.lastname" class="form-control" id="body" placeholder="Last name" required></textarea>
      </div>
      <div class="form-group">
        <label>Role</label>
        <select class="form-control" name="role" id="role" [(ngModel)]="user.role">
          <option value=ADMIN>Admin</option>
          <option value=EDITOR>Editor</option>
          <option value=READER>Reader</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-basic">Submit</button>
      </div>
    </form>
  </div>
  