<div *ngIf="article.id !== 0">
  <div class="container" *ngIf="article.category === category || category === 0">
    <div class="row justify-content-md-center">
      <button type="btn" class="btn btn-basic" *ngIf="authService.user.role === 'ADMIN'" [routerLink]="['/article', article.id, 'edit']">Edit</button>
      <button type="btn" class="btn btn-basic" *ngIf="authService.user.role === 'ADMIN'" data-toggle="modal" data-target="#exampleModal">Delete</button>
      <a [routerLink]="['/article', article.id ]" class="list-group-item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ article.title }}</h4>
        </div>
        <span class="pull-right">
          <img *ngIf="article.thumbnail.length > 0" [src]= article.thumbnail alt="{{ article.title }}" class="img-fluid rounded" style="max-height: 200px;">
        </span>
      </a>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Törlés</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Biztos vagy menne, hogy törölni akarod a(z) {{ article.title }} cikket?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-primary" (click)="deleteArticle()" data-dismiss="modal">Törlés!</button>
        </div>
      </div>
    </div>
  </div>
</div>